{
  "env": {
    "development": {
      "presets": [
        ["es2015", {"modules": false}],
        "stage-0",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel",
        "transform-decorators-legacy"
      ]
    },
    "test": {
      "presets": [
        "es2015",
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy"
      ]
    }
  }
}