{% extends "base.html.twig" %}

{% block javascripts %}
    <script>
        var initialState = {
            decisions: {{ decisions|serialize|raw }}
        }
    </script>
    <script src="{{ asset('js/decisions.js') }}"></script>
{% endblock %}

{% block body %}
    <a href="#" id="dumpNow">Dump stores</a>

    <div id="container"></div>
{% endblock %}