{% spaceless %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport"
              content="width=device-width, initial-scale=0.87, minimum-scale=0.87, maximum-scale=0.87, user-scalable=no"/>
        <title>{% block title %}You Should{% endblock %}</title>
        {% block css %}{% endblock %}
        {% if app.environment == 'prod' %}
            <link rel="stylesheet" href="{{ manifest_asset('style.css', 'webpack') }}"/>
        {% endif %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    </head>
    <body role="document">
    {% block body %}{% endblock %}
    {% if app.environment == 'dev' %}
        <script src="{{ manifest_asset('style.js', 'webpack') }}"></script>
    {% endif %}
    {% block javascript %}{% endblock %}
    </body>
    </html>
{% endspaceless %}