{% extends 'base.html.twig' %}

{% block javascript %}
    <script>var appState ={{ appState|raw }};</script>
    <script src="{{ manifest_asset('app.js', 'webpack') }}"></script>
{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}