{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/index.css') }}"/>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Your decisions</h1>

    <div id="container"></div>
{% endblock %}