{% extends "base.html.twig" %}

{% block body %}
    <h1>This is the landing page.</h1>

    <p>It will eventually have some information about what this site does, a way to login, etc...</p>

    <p>For now let's just make it easier to access the main page you hit when you login, the decisions page</p>

    <p><a href="{{ path('decisions_list') }}">Decisions list</a></p>
{% endblock %}