{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Test</h1>

            <p>Homepage.</p>
        </div>
    </div>
    <div class="panel panel-danger">
        <div class="panel-heading">
            TEST
        </div>
        <div class="panel-body">
            Stuff
        </div>
    </div>
{% endblock %}
