{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>Test</h1>

            <p>Homepage.</p>
        </div>
    </div>
{% endblock %}
