@import '~bootstrap/scss/mixins/buttons';
@import '../colors';

@mixin decision-button-variant($background, $hover, $dark: true) {
  $color: null;

  @if $dark {
    $color: #fff;
    //$hover: darken($hover, 2%);
  } @else {
    $color: #333;
    $hover: lighten($hover, 3%);
  }

  @include button-variant($color, $background, $background);
  transition: color .7s, background .7s, border .7s;

  &:hover {
    transition: none;
    background: $hover;
    border-color: $hover;
  }

  &:focus,&:active {
    background: $hover;
    border-color: $hover;
    outline: none !important;
  }
}

.btn-red { @include decision-button-variant($red-600, $red-800); }
.btn-pink { @include decision-button-variant($pink-500, $pink-700); }
.btn-purple { @include decision-button-variant($purple-500, $purple-700); }
.btn-deep-purple { @include decision-button-variant($deep-purple-500, $deep-purple-800); }
.btn-indigo { @include decision-button-variant($indigo-500, $indigo-700); }
.btn-blue { @include decision-button-variant($blue-500, $blue-700); }
.btn-light-blue { @include decision-button-variant($light-blue-200, $light-blue-100, false); }
.btn-cyan { @include decision-button-variant($cyan-500, $cyan-700); }
.btn-teal { @include decision-button-variant($teal-500, $teal-700); }
.btn-green { @include decision-button-variant($green-500, $green-700); }
.btn-light-green { @include decision-button-variant($light-green-500, $light-green-700); }
.btn-lime { @include decision-button-variant($lime-300, $lime-200, false); }
.btn-yellow { @include decision-button-variant($yellow-300, $yellow-200, false); }
.btn-amber { @include decision-button-variant($amber-300, $amber-200, false); }
.btn-orange { @include decision-button-variant($orange-500, $orange-700); }
.btn-deep-orange { @include decision-button-variant($deep-orange-500, $deep-orange-700); }
.btn-brown { @include decision-button-variant($brown-500, $brown-700); }
.btn-grey { @include decision-button-variant($grey-500, $grey-700); }
.btn-blue-grey { @include decision-button-variant($blue-grey-500, $blue-grey-700); }

.btn-alt-red { @include decision-button-variant($red-300, $red-400); }
.btn-alt-pink { @include decision-button-variant($pink-300, $pink-400); }
.btn-alt-purple { @include decision-button-variant($purple-300, $purple-400); }
.btn-alt-deep-purple { @include decision-button-variant($deep-purple-300, $deep-purple-400); }
.btn-alt-indigo { @include decision-button-variant($indigo-300, $indigo-400); }
.btn-alt-blue { @include decision-button-variant($blue-300, $blue-400); }
.btn-alt-light-blue { @include decision-button-variant($light-blue-500, $light-blue-400); }
.btn-alt-cyan { @include decision-button-variant($cyan-300, $cyan-400); }
.btn-alt-teal { @include decision-button-variant($teal-300, $teal-400); }
.btn-alt-green { @include decision-button-variant($green-300, $green-400); }
.btn-alt-light-green { @include decision-button-variant($light-green-300, $light-green-400); }
.btn-alt-lime { @include decision-button-variant($lime-600, $lime-500); }
.btn-alt-yellow { @include decision-button-variant($yellow-700, $yellow-600); }
.btn-alt-amber { @include decision-button-variant($amber-600, $amber-500); }
.btn-alt-orange { @include decision-button-variant($orange-A200, lighten($orange-A400, 6%)); }
.btn-alt-deep-orange { @include decision-button-variant($deep-orange-300, $deep-orange-400); }
.btn-alt-brown { @include decision-button-variant($brown-300, $brown-500); }
.btn-alt-grey { @include decision-button-variant($grey-500, $grey-400); }
.btn-alt-blue-grey { @include decision-button-variant($blue-grey-300, $blue-grey-400); }