@import "../colors";
@import "../loading";

@mixin question-variant($background, $background-hover, $dark: true) {
  $color: null;
  $animatedColor: null;

  @if $dark {
    $color: #fff;
    $animatedColor: darken($background-hover, 7%)
  } @else {
    $color: #333;
    $animatedColor: lighten($background-hover, 7%)
  }

  color: $color;
  background: $background;

  &.clickable:hover {
    background: $background-hover;
  }
  &.loading {
    @include loading($animatedColor);
  }
}

.question {
  font-size: 1.5em;
  @media (max-width: 350px) {
    font-size: 1.2em;
  }
  user-select: none;
  cursor: auto;
  transition: background .7s, color .7s;
  flex-wrap: nowrap;
  align-items: center;
  touch-action: manipulation;

  &.clickable:hover {
    cursor: pointer;
    transition: none;
  }

  .controls > button {
    margin-left: 5px;
  }

  &.red {
    @include question-variant($red-500, $red-700);
  }
  &.pink {
    @include question-variant($pink-500, $pink-600);
  }
  &.purple {
    @include question-variant($purple-500, $purple-600);
  }
  &.deep-purple {
    @include question-variant($deep-purple-500, $deep-purple-600);
  }
  &.indigo {
    @include question-variant($indigo-500, $indigo-700);
  }
  &.blue {
    @include question-variant($blue-600, $blue-700);
  }
  &.cyan {
    @include question-variant($cyan-500, $cyan-600);
  }
  &.teal {
    @include question-variant($teal-500, $teal-600);
  }
  &.green {
    @include question-variant($green-500, $green-600);
  }
  &.light-green {
    @include question-variant($light-green-500, $light-green-600);
  }
  &.lime {
    @include question-variant($lime-300, $lime-200, false);
  }
  &.yellow {
    @include question-variant($yellow-300, $yellow-200, false);
  }
  &.amber {
    @include question-variant($amber-300, $amber-200, false);
  }
  &.orange {
    @include question-variant($orange-600, $orange-700);
  }
  &.deep-orange {
    @include question-variant($deep-orange-500, $deep-orange-600);
  }
  &.brown {
    @include question-variant($brown-500, $brown-700);
  }
  &.grey {
    @include question-variant($grey-600, $grey-800);
  }
  &.blue-grey {
    @include question-variant($blue-grey-500, $blue-grey-600);
  }
}