@keyframes loading {
    0%{background-position:100% 50%}
    100%{background-position:0 50%}
}

.decision-variant(@color, @question-bg, @question-bg-hover, @answer-bg, @answer-loading-bg) {
    .question {
        color: @color;
        background: @question-bg;

        &:hover {
            background: @question-bg-hover;
        }
    }

    .answer {
        color: @color;
        background: @answer-bg;

        &.answer-loading::before {
            background: linear-gradient(110deg, rgba(0, 0, 0, 0) 33%, @answer-loading-bg 33%, @answer-loading-bg 66%, rgba(0, 0, 0, 0) 66%);
            background-size: 400% 100%;
            animation: loading 1s linear infinite normal;
        }
    }
}