@import 'theme-picker/theme-picker';
@import '../fade';

.config {
    background: white;
    color: #444;
    display: none;

    &.open {
        display: block;
    }

    h3 {
        margin-top: 0;
    }

    ul {
        list-style: none;
    }

    .form-inline {
        margin-bottom: 15px;
    }
}